<h1>Hello, World!</h1>
id: <%= session[:user]['id'] %><br>
email: <%= session[:user]['email'] %><br>

uid: <%= session[:user]['uid'] %>

<br><br>ALL USERS <br>
<% User.all.each do |u| %>
  <%= u.email %><br>
<% end %>


<br><br> <%= UserGroup.all %><br><br>


GROUPS <br>
<% Group.all.each do |g| %>
  <%= g.name %><br>
  <%= g.description %>
<% end %>


<br><br>
FIND ALL THE USERS IN A GROUP <br>
<% Group.last.user_groups.each do |ug| %>
  <%= User.find(ug.user_id).email %><br>
<% end %>

<br><br>
MEETUP <br>
name: <%= Meetup.first.name %><br>
location: <%= Meetup.first.location %><br>
day: <%= Meetup.first.day %><br>
time: <%= Meetup.first.time %><br>
group: <%= Meetup.first.group.name %><br>
