<h1>welcome <%= User.chop_email(user_id) %></h1>


<h3>My group comments:</h3>
<ul>
<% UserGroup.my_groups(user_id).each do |g| %>
   <li><%=link_to g.group.name, group_path(g.group) %><br>
     <%= g.comment %>
     </li>
<% end %>
</ul>

<br><br><br>

<%#= form_tag("/meetups/sunday", method: "post") do %>
  <%#= select_tag "day", "<option>Sunday</option><option>Monday</option><option>Tuesday</option><option>Wednesday</option><option>Thursday</option><option>Friday</option><option>Saturday</option>".html_safe, multiple: true %>
  <%#= submit_tag "This works!"  %>
<%# end %>

VIEW MEETUPS BY DAY!!!
<%= form_tag("/meetups/day_select", method: "post") do %>
  <%= select_tag "day", options_for_select([ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ], "Friday") %>
  <%= submit_tag "This works!"  %>
<% end %>
