<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
            <li><%= link_to "Sign in with facebook", omniauth_authorize_path(@user, "facebook") %></li>
            <li>this will be a sign-up link</li>
            <li>navigation here</li>
      </nav>
    </div>


    <%= yield %>
  </body>
</html>
